/* body{
    background:
    repeating-linear-gradient(
        -45deg,
        transparent 0,
        transparent 25%,
        dodgerblue 0,
        dodgerblue 50%
   ),
   repeating-linear-gradient(
        45deg,
        transparent 0,
        transparent 25%,
        tomato 0,
        tomato 50%
    ),
    repeating-linear-gradient(
        transparent 0,
        transparent 25%,
        gold 0,
        gold 50%
    ), white;
background-blend-mode: multiply;
background-size: 100px 100px;
} */