.hidden {
  display: none;
}
*{  /* universal "applies to everything everything"  */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.header{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  padding: 20px 80px;
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index:99;
}

.navigation .nav-link  {
  position: relative;
  font-size:1.1em;
  color:#fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
  transform: scaleX(0);
}

.navigation .nav-link:after {
  content:"";
  position: absolute;
  left:0;
  bottom:-6px;
  width:100%;
  height:3px;
  background:#fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.navigation .nav-link:hover:after {
  transform-origin: left;
  transform: scaleX(1);
}
buttons button{
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;
}

buttons button:hover{
  background-color: #fff;
  color: #162938;
}