ul{
    /* background-color:darkmagenta; */
    display: flex;
    justify-content: flex start;

}

::marker{
  color: transparent;
}

a, button {
  color: pink;
  box-shadow: 0 2px 4px black;
  font-size: 16px;
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 10px;
  border: none;
}

.active {
  
}

a:hover, button:hover {
  background-color: palevioletred;
}

.hidden {
  display: none;
}